@import "reset.css";
@import "font.css";

body {
  font-family: "LeeSeoyun";
  display: flex;
  justify-content: center;
  background-image: url(/public/background.png);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
